/* CSS Document */

body {
	background-image: url("../images/bluemoon.png");
 	background-position: 50 50%;
  	background-repeat: repeat-y;
	padding-bottom: 100px;
}

h1 {
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-weight: 600;
	font-size: 100px;
    cursor: pointer;
	text-decoration: none;
	line-height: 100px;
	text-align: center;
}

a:active {
	color: black
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

/* unvisited link */
a:link {
    color: white;
}

/* visited link */
a:visited {
    color: white;
}

/* mouse over link */
a:hover {
    color: #8BC7FF;
}

/* selected link */
a:active {
    color: #C0F2FF;
}

#para1 {
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-weight: 200;
	font-size: 20px;
	color: #8BC7FF;
	text-align: center;
}

#list1 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	text-align: center;
	color: #8BC7FF;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

#list1 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

#list1 {
	padding-left: 300px;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
	padding-left: 50px;
	padding-right: 50px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: #00103F;
    color: #8BC7FF
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 148px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	padding-left: 32px;
}

.dropdown-content a {
    color: #8BC7FF;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
	background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

h2 {
	font-family: 'Lobster', cursive;
	font-weight: 600;
	font-size: 100px;
    cursor: pointer;
	text-decoration: none;
	line-height: 100px;
	text-align: left;
	color: white;
	margin-left: 50px;
}

img {
	margin-top: 20px;
	margin-left: 50px;
}

#para2 {
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    cursor: pointer;
	text-decoration: none;
	font-size: 20px;
	text-align: left;
	margin-left: 50px;
	color: #8BC7FF;
	margin-top: -60px;
	line-height: 25px;
}

#para3, #para4 {
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    cursor: pointer;
	text-decoration: none;
	font-size: 25px;
	text-align: left;
	margin-left: 50px;
	color: white;
}

#head1 {
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-weight: 600;
	font-size: 35px;
    cursor: pointer;
	text-decoration: none;
	line-height: 100px;
	text-align: left;
	color: white;
	margin-left: 50px;
	margin-top: 75px
}

#item1 {
  	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    cursor: pointer;
	text-decoration: none;
	font-size: 20px;
	text-align: left;
	margin-left: 30px;
	color: #8BC7FF;
	margin-top: -50px
}

 #item2 {
   	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    cursor: pointer;
	text-decoration: none;
	font-size: 20px;
	text-align: left;
	margin-left: 30px;
	margin-top: -20px;
	color: #8BC7FF;
 }

#item3 {
   	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    cursor: pointer;
	text-decoration: none;
	font-size: 20px;
	text-align: left;
	margin-top: -7px;
	margin-left: 30px;
	color: #8BC7FF;
}

#item03 {
   	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    cursor: pointer;
	text-decoration: none;
	font-size: 20px;
	text-align: left;
	margin-top: 11px;
	margin-left: -160px;
	color: #8BC7FF;
}

#item003 {
   	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    cursor: pointer;
	text-decoration: none;
	font-size: 20px;
	text-align: left;
	margin-top: 32px;
	margin-left: -240px;
	color: #8BC7FF;
}

#item4 {
   	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    cursor: pointer;
	text-decoration: none;
	font-size: 20px;
	text-align: left;
	margin-top: 7px;
	margin-left: 30px;
	color: #8BC7FF;
}

#item04 {
   	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    cursor: pointer;
	text-decoration: none;
	font-size: 20px;
	text-align: left;
	margin-top: 42px;
	margin-left: -160px;
	color: #8BC7FF;
}

#item004 {
   	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    cursor: pointer;
	text-decoration: none;
	font-size: 20px;
	text-align: left;
	margin-top: 86px;
	margin-left: -240px;
	color: #8BC7FF;
}

#head2 {
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-weight: 600;
	font-size: 35px;
    cursor: pointer;
	text-decoration: none;
	line-height: 100px;
	text-align: left;
	color: white;
	margin-left: 45px;
	margin-top: 60px
}

#head02 {
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-weight: 600;
	font-size: 35px;
    cursor: pointer;
	text-decoration: none;
	line-height: 100px;
	text-align: left;
	color: white;
	margin-left: 46px;
	margin-top: 100px
}

#head002 {
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-weight: 600;
	font-size: 35px;
    cursor: pointer;
	text-decoration: none;
	line-height: 100px;
	text-align: left;
	color: white;
	margin-left: 43px;
	margin-top: 230px
}

#item5 {
   	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    cursor: pointer;
	text-decoration: none;
	font-size: 20px;
	text-align: left;
	margin-top: -50px;
	margin-left: 25px;
	color: #8BC7FF;
}

#item05 {
   	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    cursor: pointer;
	text-decoration: none;
	font-size: 20px;
	text-align: left;
	margin-top: -50px;
	margin-left: 30px;
	color: #8BC7FF;
}

#item6 {
   	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    cursor: pointer;
	text-decoration: none;
	font-size: 20px;
	text-align: left;
	margin-top: -18px;
	margin-left: 25px;
	color: #8BC7FF;
}

#item06 {
   	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    cursor: pointer;
	text-decoration: none;
	font-size: 20px;
	text-align: left;
	margin-top: -18px;
	margin-left: 30px;
	color: #8BC7FF;
}

#item7 {
   	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    cursor: pointer;
	text-decoration: none;
	font-size: 20px;
	text-align: left;
	margin-top: 17px;
	margin-left: -205px;
	color: #8BC7FF;
}

#item8 {
   	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    cursor: pointer;
	text-decoration: none;
	font-size: 20px;
	text-align: left;
	margin-top: 72px;
	margin-left: -215px;
	color: #8BC7FF;
}

#para3 {
  	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    cursor: pointer;
	text-decoration: none;
	font-size: 20px;
	text-align: left;
	margin-left: 50px;
	color: #8BC7FF;
	margin-top: -50px
}

.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

.span_2_of_2 {
	width: 100%;
}
.span_1_of_2 {
	width: 49.2%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.col { 
		margin: 1% 0 1% 0%;
	}
}

@media only screen and (max-width: 480px) {
	.span_2_of_2, .span_1_of_2 { width: 100%; }
}