/* CSS Document */

body {
	text-align: center;
	margin-left: 430px;
	margin-right: 650px;
	margin-top: 300px;
	margin-bottom: 300px;
	line-height: 20px;
	width: 600px;
    height: 100px;
    background-color: white;
	font-size: 20px
}

h1{
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-weight: 500
}

a:active {
	color: black
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

/* unvisited link */
a:link {
    color: black;
}

/* visited link */
a:visited {
    color: black;
}

/* mouse over link */
a:hover {
    color: gray;
}

/* selected link */
a:active {
    color: black;
}